/* Feed content area */
.feed-container {
  grid-area: feed-container;
  overflow-y: auto;
  padding: 1rem;
  background-color: #222;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  height: calc(100vh - 100px);
  color: #eee;
  width: 682px;
}